@use "flex-grid";
@use "conf";

body{
    .Youri{
    background-color: wheat;
    .game{
        .game-window{
                .saveData{
                    position: absolute;
                    background-color: white;
                    padding: 3%;
                    top: 40vh;
                    left: 40%;
                    border-radius: 5px;
                }
           .stock-market{
            display: flex;
            flex-direction: row;
            height: 78vh; // Zorg ervoor dat de ouderdiv de volledige hoogte van het scherm inneemt

                .stock{
                    box-sizing: border-box;
                    display: flex;
                    padding: 0;
                    text-align: center;
                    border: 0.1rem solid black;
                    justify-content: center;
                    justify-content: space-between; 
                    height: 100%;
                    background-color: white;
                }
                .highscore{
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    .score-table{
                        border-collapse: collapse;
                        width: 100%;
                        td{
                            position: relative;
                        }
                        tr:not(:last-child){
                            border-bottom: 1px solid black;
                        }
                        td:first-child{
                            border-right: 1px solid black;
                        }
                    }
                    .buttons{
                        height: 25%;
                        .button{
                            height: 25%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
}
.blur {
    filter: blur(4px); /* Wazig effect */
    pointer-events: none; /* Voorkom dat er interactie is met de wazige elementen */
}

.hidden{
    display:none;
}