@use "conf";
@use "flex-grid";
@use "flex-options";
@use "text-options";
@use "navbar";
@use "footer";

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
}
body * {
  margin: 0;
  padding: 0;
}
