// Variables
$primary-color: #007BFF;
$primary-hover-color: #0056b3;
$background-color: #f4f4f4;
$container-bg-color: #fff;
$container-shadow-color: rgba(0, 0, 0, 0.1);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  @include flex-center;
  height: 100vh;
}

.account-container {
  background-color: $container-bg-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px $container-shadow-color;
  max-width: 600px;
  width: 100%;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .account-info, .account-actions {
    margin-top: 20px;
    text-align: left;
  }

  .account-info p, .account-actions ul {
    margin: 10px 0;
  }

  .account-actions ul {
    list-style-type: none;
    padding: 0;
  }

  .account-actions li {
    margin: 5px 0;
  }
}

form {
  margin-top: 20px;

  button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}